<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>
<body>
  {{> header}}
  <p>Welcome {{screamIt name}}. Do you really Love {{hobbies}}?</p>

  {{> footer}}
</body>
</html>
